<%# add navigation links to this file %>
<ul>
	<li><%= link_to 'Family Members', people_path %></li>
	<li><%= link_to 'Weight Record', weight_records_path %></li>
	<li data-no-turbolink><%= link_to 'Health Charts', healthcharts_index_path %></li>
  <li><%= link_to 'Blood Pressures', blood_pressures_path %></li>
</ul>